@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  a {
    @apply text-inherit text-white;
  }
  body {
    @apply bg-black text-white;
  }
  .container {
    @apply text-white sm:px-8 px-4 mx-auto;
  }
  .basicFlex {
    /* @apply max-w-7xl min-h-screen m-auto px-14 flex-col text-white; */
    @apply flex justify-between items-center;
  }
}
